<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Add a Delicious Recipe</h5>
          <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="food-name">Name</label>
            <input type="text" id="food-name" class="form-control" aria-describedby="food-name" placeholder="Tacos">
          </div>
          <div class="form-group">
            <label for="ingredients">Ingredients</label>
            <textarea class="form-control" id="ingredients" aria-describedby="ingredients" placeholder="Ground Beef..."></textarea>
          </div>
          <div class="form-group">
            <label for="directions">Cook'n Directions</label>
            <input type="text" id="directions" class="form-control" aria-describedby="directions" placeholder="Bake on high for...">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="region" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Region
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">North America</a>
              <a class="dropdown-item" href="#">South America</a>
              <a class="dropdown-item" href="#">Africa</a>
              <a class="dropdown-item" href="#">Asia</a>
              <a class="dropdown-item" href="#">Europe</a>
              <a class="dropdown-item" href="#">Austrlia</a>
            </div>
          </div>
            <div class="form-group">
            <label for="video">Video</label>
            <textarea class="form-control" id="video" aria-describedby="video" placeholder="Url"></textarea>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <textarea class="form-control" id="country" aria-describedby="country" placeholder="France"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Create</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>