<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Lets Get Cook'n!!</h5>
          <p>
            <strong>Foodie Choice</strong>: {{this.food_name}}</p>
          <p>
          <p>
            <strong>Recipe</strong>: {{this.recipe}}</p>
          <p>
            <strong>Description:</strong> {{this.directions}}</p>
            
          <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-star"></span> Star 
          </button>
        </div>
      </div>
    </div>
  </div>
</div>